-#  This file is app/views/movies/index.html.haml
%h1 All Listings
 
%table#movies
  %thead
    %tr
      %th Title
      %th ISBN
      %th Description
      %th Price
      %th Hardcover
  %tbody
    - @listings.each do |listing|
      %tr
        %td= listing.title
        %td= listing.isbn
        %td= listing.description
        %td= listing.price
        %td= listing.is_hardcover

= link_to 'Add new listing', "listings/new"