%h2 Details about #{@listing.book.title}

%ul#details
  %li
    = image_tag "http://lorempixel.com/400/200/cats/"
  %li
    Title:
    = @listing.book.title
  %li
    ISBN:
    = @listing.book.isbn
  %li 
    Book Summary:
    = @listing.book.description
    
  %li
    Additional Information:
    = @listing.notes
  %li
    Price:
    = @listing.price
  %li
    Contact Seller:
    = @listing.user.email
 
     
     

