%h2 Details about #{@listing.book.title}

%ul#details
  %li
    Title:
    = @listing.book.title
  %li
    ISBN:
    = @listing.book.isbn
  %li
    Description:
    = @listing.book.description
  %li
    Price:
    = @listing.price
 
     
     

