%h1 Search Results

.table-responsive
  %table.table#movies
    %thead
      %tr
        %th Book Title
        %th Book ISBN
        %th Price
        %th More Info
        %th Contact
    %tbody
      - @sell_listings.each do |listing|
        %tr
          %td= listing.book.title
          %td= listing.book.isbn
          %td= listing.price
          %td= listing.notes
          %td= listing.user.email